{% macro header() %}
<header class="header">
    <div class="nav-container">
        <nav class="nav">
            <a href="{{ url_for('pages.clients') }}" class="nav__link">
                <p class="nav__item">Clients</p>
            </a>
            
            <a href="{{ url_for('pages.employees') }}" class="nav__link">
                <p class="nav__item">Employees</p>
            </a>

            <a href="{{ url_for('pages.jobs') }}" class="nav__link">
                <p class="nav__item">Jobs</p>
            </a>

            <a href="{{ url_for('pages.placements') }}" class="nav__link">
                <p class="nav__item">Placements</p>
            </a>

            <a href="{{ url_for('pages.invoices') }}" class="nav__link">
                <p class="nav__item">Invoices</p>
            </a>
        </nav>
    </div>
</header>
{% endmacro %}