{% from "macros/fields.html" import render_invoice_select %}

{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/invoices.css') }}" />
{% endblock %}

{% block main_content %}
<form name="get-invoice" method="post" class="invoice__form">
    <h1 class="invoice__form--title">Invoices</h1>
    {{ form.hidden_tag() }}

    {{ render_invoice_select(form.client) }}

    <div>
        {{ form.submit(class_="button invoice__form--button") }}
    </div>
</form>

<div class="invoice">
    <p>Contact Person</p>
    <p>Phone</p>
    <p>Email</p>
    <p>Billing Address</p>

    <p>Invoice #</p>
    <p>Issue Date</p>
    <p>Terms</p>
    <p>Due Date</p>

    <table class="invoice__table">
        <thead>
            <tr>
                <th class="invoice__header">Employee</th>
                <th class="invoice__header">Role</th>
                <th class="invoice__header">Period Start</th>
                <th class="invoice__header">Period End</th>
                <th class="invoice__header">Reg Hours</th>
                <th class="invoice__header">Reg Rate</th>
                <th class="invoice__header">Reg Amt</th>
                <th class="invoice__header">OT Hours</th>
                <th class="invoice__header">OT Rate</th>
                <th class="invoice__header">OT Amt</th>
                <th class="invoice__header">Line Total</th>
            </tr>
        </thead>

        <tbody>
            <tr></tr>
        </tbody>
    </table>
</div>
{% endblock %}