{% from "macros/svgs.html" import pencil %}

{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" />
{% endblock %}

{% block main_content %}
<div class="table__title">
    <h1 class="table__title--text">Clients</h1>
    <a href="{{ url_for('pages.add_client') }}" class="table__title--add">Add Client</a>
</div>

<div class="table__div">
    <table class="table">
        <thead>
            <tr>
                <td class="table__header">Name</td>
                <td class="table__header">Person to Contact</td>
                <td class="table__header">Email</td>
                <td class="table__header">Phone</td>
                <td class="table__header">Address</td>
                <td class="table__header">Terms</td>
                <td class="table__header">Industry</td>
                <td class="table__header">Status</td>
                <td class="table__header">Edit</td>
            </tr>
        </thead>

        <tbody>
            {% for client in clients %}
                <tr>
                    {% for item in client %}
                        {% if not(loop.first) %}
                            <td class="table__item">{{ item }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="table__item"><a href="{{ url_for('pages.edit_client', _id=client[0]) }}" class="table__edit">{{ pencil("table__pencil") }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}