{% from "macros/fields.html" import render_invoice_select %}

{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/invoices.css') }}" />
{% endblock %}

{% block main_content %}
<form name="get-invoice" method="post" class="invoice__form">
    <h1 class="invoice__form--title">Invoices</h1>
    {{ form.hidden_tag() }}

    {{ render_invoice_select(form.client) }}

    <div>
        {{ form.submit(class_="button invoice__form--button") }}
    </div>
</form>

<div class="invoice">
    <div class="invoice__header" style="display: flex;">
        <div class="invoice__header--left">
            <p class="invoice__header--text">{{ invoice.contact_name }}</p>
            <p class="invoice__header--text">{{ invoice.contact_phone }}</p>
            <p class="invoice__header--text">{{ invoice.contact_email }}</p>
            <p class="invoice__header--text">{{ invoice.billing_address }}</p>
        </div>

        <div class="invoice__header--right">
            <p class="invoice__header--text">{{ invoice.invoice_no }}</p>
            <p class="invoice__header--text">{{ invoice.issue_date }}</p>
            <p class="invoice__header--text">{{ invoice.terms }}</p>
            <p class="invoice__header--text">{{ invoice.due_date }}</p>
        </div>
    </div>

    <table class="invoice__table">
        <thead>
            <tr>
                <th class="invoice__table--header">Employee</th>
                <th class="invoice__table--header">Role</th>
                <th class="invoice__table--header">Period Start</th>
                <th class="invoice__table--header">Period End</th>
                <th class="invoice__table--header">Reg Hours</th>
                <th class="invoice__table--header">Reg Rate</th>
                <th class="invoice__table--header">Reg Amt</th>
                <th class="invoice__table--header">OT Hours</th>
                <th class="invoice__table--header">OT Rate</th>
                <th class="invoice__table--header">OT Amt</th>
                <th class="invoice__table--header">Line Total</th>
            </tr>
        </thead>

        <tbody>
            {% for invoice_item in invoice.invoice_items %}
                <tr>
                    {% for cell in invoice_item %}
                        <td class="invoice__table--item">{{ cell }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="invoice__footer">
        <p class="invoice__footer--text">Status: {{ invoice.status }}</p>
        <p class="invoice__footer--text">Subtotal: {{ invoice.subtotal }} {{ invoice.currency }}</p>
        <p class="invoice__footer--text">Tax Amount: {{ invoice.tax_amount }}%</p>
        <p class="invoice__footer--text">Total: {{ invoice.total }} {{ invoice.currency }}</p>
        <p class="invoice__footer--text">Paid: 0.00 {{ invoice.currency }}</p>
        <p class="invoice__footer--text">Balance: {{ invoice.balance }} {{ invoice.currency }}</p>
    </div>
</div>
{% endblock %}