{% from "macros/fields.html" import render_text_field %}

{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" />
{% endblock %}

{% block main_content %}
<form name="add-client" method="post" class="form">
    <h1 class="form__title">Edit Employee</h1>

    <div class="form__container">
        {{ form.hidden_tag() }}

        {{ render_text_field(form.full_name) }}
        {{ render_text_field(form.email) }}
        {{ render_text_field(form.phone) }}
        {{ render_text_field(form.rate_type) }}
        {{ render_text_field(form.pay_rate) }}
        {{ render_text_field(form.bill_rate) }}
        {{ render_text_field(form.title) }}
        {{ render_text_field(form.status) }}

        <div class="form__footer">
            <a href="{{ url_for('pages.delete_employee', _id=employee_id) }}" class="form__delete">Delete</a>
            {{ form.submit(class_="button button--form") }}
        </div>
    </div>
</form>
{% endblock %}