{% from "macros/fields.html" import render_text_field %}

{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/invoices.css') }}" />
{% endblock %}

{% block main_content %}
<form name="get-invoice" method="post" class="invoice">
    <h1 class="invoice__title">Invoices</h1>
    {{ form.hidden_tag() }}

    {{ render_text_field(form.client) }}

    <div>
        {{ form.submit(class_="button invoice__button") }}
    </div>
</form>
{% endblock %}