{% from "macros/svgs.html" import pencil %}

{% extends "layout.html" %}

{% block head_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/table.css') }}" />
{% endblock %}

{% block main_content %}
<div class="table__title">
    <h1 class="table__title--text">Jobs</h1>
    <a href="{{ url_for('pages.add_job') }}" class="table__title--add">Add Job</a>
</div>

<div class="table__div">
    <table class="table">
        <thead>
            <tr>
                <td class="table__header">Client</td>
                <td class="table__header">Position</td>
                <td class="table__header">Type</td>
                <td class="table__header">Location</td>
                <td class="table__header">Billing Rate</td>
                <td class="table__header">Pay Rate</td>
                <td class="table__header">Start Date</td>
                <td class="table__header">End Date</td>
                <td class="table__header">Status</td>
                <td class="table__header">Notes</td>
                <td class="table__header">Edit</td>
            </tr>
        </thead>

        <tbody>
            {% for job in jobs %}
                <tr>
                    {% for item in job %}
                        {% if not(loop.first) %}
                            <td class="table__item">{{ item }}</td>
                        {% endif %}
                    {% endfor %}
                    <td class="table__item"><a href="{{ url_for('pages.edit_job', _id=job[0]) }}" class="table__edit">{{ pencil("table__pencil") }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}