.invoice__form {
    display: flex;
    align-items: center;
}

.invoice__form--group {
    padding-left: 2rem;
    padding-right: 2rem;
}

.invoice__form--field {
    outline: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
    background: #e2e8f0;
}

.invoice__form--button {
    padding: 0.4rem 1rem;
    border: none;
    color: white;
    background: #236ce7;
}