.invoice__form {
    display: flex;
    align-items: center;
}

.invoice__form--group {
    padding-left: 2rem;
    padding-right: 2rem;
}

.invoice__form--field {
    outline: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    padding: 0.5rem;
    background: #e2e8f0;
}

.invoice__form--button {
    padding: 0.4rem 1rem;
    border: none;
    color: white;
    background: #236ce7;
}

.invoice {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.invoice__header {
    margin-bottom: 3rem;
}

.invoice__header--right {
    margin-left: 5rem;
}

.invoice__header--text {
    font-size: 0.75rem;
}

.invoice__table,
.invoice__table--header,
.invoice__table--item {
    border: 1px solid black;
    border-collapse: collapse;
}

.invoice__table--header,
.invoice__table--item {
    padding: 5px;
}

.invoice__table--header {
    text-align: center;
}