.table__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.table__title--add {
    text-decoration: none;
    background-color: #236ce7;
    color: white;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.table__title--add:hover {
    background-color: #1d54b3;
}

.table__div {
    display: flex;
    justify-content: center;
    padding-top: 5rem;
}

.table {
    width: 60%;
}

.table,
.table__header,
.table__item {
    border: 1px solid black;
    border-collapse: collapse;
}

.table__header,
.table__item {
    text-align: center;
}

.table__header {
    background-color: #f9f9fb;
}

.table__edit {
    color: #236ce7;
    text-decoration: none;
}

.table__edit:hover {
    color: #1d54b3;
    text-decoration: underline;
}

.table__pencil {
  width: 1em;
  height: 1em;
}